body{
    background-color: lightblue;
}

#title{
    color: black;
    width: 100%;
    background-color: tan;
    font-family: AR JULIAN;
    font-size: 42px;
    text-align: center;
    padding: 0;
    top:0;
    box-shadow: 0 8px 20px black;
    
}

#player{
    text-align: center;
    background-color: lightgray;
    font-family: Century;
    font-size: 16px  ;
}