html{
    user-select:none;
}


#back{
    position:fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(/img/011.jpg) no-repeat center ;
    background-size: cover;
    opacity: 0.5;
    z-index:-1;
}

#header{
   background: Blue;
    color: red;
    margin: auto;
}