    
body{
    font-family: sans-serif;
    background-color: tomato;
    color: white;
}
#app {
    width: 30%;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 8px 8px 15px lightgray;
    text-align: center;
    margin:  auto ;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
    height: 50%;
    }
    
